template#x-card.genc
  style
    include x-card.less.css
  script
    include x-card.js

  div#card
    div#render
      canvas
    div#title BBX Lephsnt Womens Wrap V Neck Dresses for Wedding Guest Casual Pleated Long Sleeve Mini Dress
    div#rating
      img#rating(src="./components/x-card/assets/rating1.png")
      div 1,775
    div#price
      div#last
        sup $
        span 45
        sup 99
      span#old $49.99